<footer>
	<!--=== Footer ===-->
	<div class="footer">
		<div class="container">
			<div class="row-fluid">
				<div class="span4">
	            			gh
				</div><!--/span4-->	
		
				<div class="span4">
							gh
				</div><!--/span4-->
			</div><!--/row-fluid-->	
		</div><!--/container-->	
	</div><!--/footer-->	
	<!--=== End Footer ===-->

	<!--=== Copyright ===-->
	<div class="copyright">
		<div class="container">
			<div class="row-fluid">
				<div class="span8">						
		            <p>2013 &copy; ООО "Инфоком-НН". Все права защищены. <a href="/sitemap.html">Карта сайта</a> | <a href="#">Типовой договор</a></p>
				</div>
				<div class="span4">	
					<a href="index.html"><img id="logo-footer" src="/assets/logo_light.png" class="pull-right" alt="" /></a>
				</div>
			</div><!--/row-fluid-->
		</div><!--/container-->	
	</div><!--/copyright-->	
	<!--=== End Copyright ===-->

</footer>