<footer>
	<!--=== Footer ===-->
	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="headline"><h3>О нас</h3></div>	
					<p class="margin-bottom-25">Информация о проекте.</p>	

										<div class="headline"><h3>Контакты</h3></div>	
					<p class="margin-bottom-25">E-mail: infocom-nn@yandex.ru</p>	
				</div><!--/span4-->	

				<div class="col-md-8">
					<%= render '/shared/footerblog' %>
				</div><!--/span4-->
			</div><!--/row-fluid-->	
		</div><!--/container-->	
	</div><!--/footer-->	
	<!--=== End Footer ===-->

	<!--=== Copyright ===-->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-md-8">						
					<p>2013 &copy; ООО "Инфоком-НН". Все права защищены. <a href="/sitemap.html">Карта сайта</a> | <a href="#">Типовой договор</a></p>
				</div>
				<div class="col-md-4">	
					

					<!-- Yandex.Metrika informer -->
					<a href="https://metrika.yandex.ru/stat/?id=24662633&amp;from=informer"
					target="_blank" rel="nofollow">
					<img src="//bs.yandex.ru/informer/24662633/3_0_72C02CFF_72C02CFF_0_pageviews"
					style="width:88px; height:31px; border:0;" class="pull-right" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:24662633,lang:'ru'});return false}catch(e){}"/>
				</a>
				<!-- /Yandex.Metrika informer -->

				<!-- Yandex.Metrika counter -->
				<script type="text/javascript">
				(function (d, w, c) {
					(w[c] = w[c] || []).push(function() {
						try {
							w.yaCounter24662633 = new Ya.Metrika({id:24662633,
								webvisor:true,
								clickmap:true,
								trackLinks:true,
								accurateTrackBounce:true});
						} catch(e) { }
					});

					var n = d.getElementsByTagName("script")[0],
					s = d.createElement("script"),
					f = function () { n.parentNode.insertBefore(s, n); };
					s.type = "text/javascript";
					s.async = true;
					s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

					if (w.opera == "[object Opera]") {
						d.addEventListener("DOMContentLoaded", f, false);
					} else { f(); }
				})(document, window, "yandex_metrika_callbacks");
				</script>
				<noscript><div><img src="//mc.yandex.ru/watch/24662633" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
				<!-- /Yandex.Metrika counter -->









			</div>
		</div><!--/row-fluid-->
	</div><!--/container-->	
</div><!--/copyright-->	
<!--=== End Copyright ===-->

</footer>

<script type="text/javascript" src="/js/bootstrap.min.js"></script>