<header>

	<div class="top">
	    <div class="container">   
    
	        <ul class="loginbar pull-right">
	            <li><i class="icon-globe"></i><a>Язык <i class="icon-sort-up"></i></a>
	                <ul class="nav-list">
	                    <li class="active"><a href="#">Русский</a> <i class="icon-ok"></i></li>
	                    <li><a href="#">Spanish</a></li>
	                    <li><a href="#">English</a></li>
	                    <li><a href="#">German</a></li>
	                </ul>
	            </li>   
	            <li class="devider">&nbsp;</li>
	            <li><a href="/help.html" class="login-btn">Помощь</a></li>  
	           
	        </ul>

	    </div>      
	</div>   
<!--=== Header ===-->
	<div class="container top-30">

		<div class="row-fluid">
			<div class="span4">
				<div class="logo">                                             
					<a href="/index.html">
						Social Exchange
					</a>
				</div>   
			</div>
			<div class="span4">
				er
			</div>
			<div class="span2">
				<button class="btn btn-success btn-large pull-center">Аккаунт #</button>
			</div>
			<div class="span2">
				<span class="big green">10 245 </span><br> участников
			</div>
		</div>
	</div>
</header>