<div class="span3">
	<!-- Contacts -->
    <div class="headline"><h3>Адрес</h3></div>
    <ul class="unstyled margin-bottom-20">
        <li><i class="icon-home"></i> 603000, г. Нижний Новгород, ул. Бекетова, 15, оф. 4</li>
        <li><i class="icon-envelope-alt"></i> infocom-nn@yandex.ru</li>
        <li><h3 class="color_green">Тел.: 414-89-19<h3></li>
        <li><a href="http://www.infotechcom.ru"><i class="icon-globe"></i> http://www.infotechcom.ru</a></li>
    </ul>

    <!-- Blog Tags -->
    <div class="headline"><h3>Услуги</h3></div>
    <ul class="unstyled inline blog-tags">
        <li><a href="/services/it_autsorsing_nnov.html"><i class="icon-tags"></i> ИТ-аутсорсинг</a></li>
        <li><a href="/services/ustanovka_servera.html"><i class="icon-tags"></i> Установка серверов</a></li>
        <li><a href="/services/korporativniy_sait_nnov.html"><i class="icon-tags"></i> Сопровождение сайта</a></li>
        <li><a href="/services/obsluzhivanie_orgtehniki.html"><i class="icon-tags"></i> Обслуживание оргтехники</a></li>
        <li><a href="/services/korporativniy_sait_nnov.html"><i class="icon-tags"></i> Создание сайтов</a></li>
        <li><a href="/services/it_audit_nnov.html"><i class="icon-tags"></i> ИТ-аудит</a></li>
        <li><a href="/services/proectirovanie_i_montazh_lvs.html"><i class="icon-tags"></i> Проектирование и монтаж ЛВС</a></li>
        <li><a href="/services/it_autsorsing_nnov.html"><i class="icon-tags"></i> Обслуживание компьютеров</a></li>

    </ul>

	<!-- Business Hours -->
    <div class="headline"><h3>Время работы</h3></div>
    <ul class="unstyled">
    	<li><strong>Понедельник-Пятница:</strong> с 10:00 до 20:00 </li>
    	<li><strong>Суббота:</strong> с 11:00 до 17:00 </li>
    	<li><strong>Воскресенье:</strong> Выходной</li>
    </ul>

	<!-- Why we are? -->
    <div class="headline"><h3>Почему мы?</h3></div>
    <p>ООО "Инфоком-НН" специализируется на обслуживании компьютеров в Нижнем Новгороде. Заказав ИТ-аутсорсинг у нас, вы получаете:</p>
    <ul class="unstyled">
    	<li><i class="icon-ok color-green"></i> Профессионализм</li>
    	<li><i class="icon-ok color-green"></i> Скорость исполнения</li>
    	<li><i class="icon-ok color-green"></i> Привлекательную стоимость</li>
    </ul>
</div><!--/span3-->