<div class="container top-30">
	<div class="row-fluid">
		<div class="span8">

			<div class="span12 color">
			</div>
			
			<div class="span12 top-30 right">
				<button class="btn btn-success btn-small">Все пользователи</button><button class="btn btn-success btn-small">Акции в наличии</button>
			</div>
<%= hi %>

			<div class="span12 top-30">

<%= render @users %>

			</div>

		</div>

		<%= render 'shared/column' %>

	</div>
</div>