<div class="container top-30">
	<div class="row-fluid">
		<div class="span8">


			<div class="span12 color">
			</div>
			<div class="span12 top-30">
				<p>
					<%= image_tag 'https://graph.facebook.com/'+@profile['id']+'/picture?type=normal&width=100&height=100' %></p>
				<p>
					<%= image_tag 'https://graph.facebook.com/'+@test1['id']+'/picture?type=normal&width=100&height=100' %></p>
				
			</div>


		</div>


		<div class="span4">
			<div class="headline"><h3>О проекте</h3></div>
			<p>Отправьте своё сообщение. Наш менеджер свяжется с вами в самое ближайшее время.</p>

			<div class="headline"><h3>Купить акции</h3></div>
			<input></input>
			<button>OK</button>




<br>

			<div class="headline"><h3>Проверка</h3></div>
			<p>Отправьте своё сообщение.</p>
		</div>
	</div>
</div>