<div class='users'>

  

  <div class="requests">

    <div class="request">
    
      <div>
        №
      </div>

      <div>
        Продавец
      </div>

      <div>
        Количество
      </div>

      <div>
        Цена за 1 шт.
      </div>

    </div>


  </div>

</div>