      <div class="headline"><h3><%= current_user.name %></h3></div>
      <%= image_tag 'https://graph.facebook.com/'+current_user.uid+'/picture?type=normal&width=86&height=86', :class => "img-thumbnail" %>
      <p><a href="#">Пополнить счёт</a></p>
      <p><a href="/stocks.html">Все акции</a></p>
      <p><strong>Средств на счёте:</strong> 12 004 руб.</p>
      <hr>