<% # Stock.where("host_id = ? AND buyer_id = ?", @user.id, @user.id) %>

      <div>
        №
      </div>

      <div>
        Продавец
      </div>

      <div>
        Количество
      </div>

      <div>
        Цена за 1 шт.
      </div>