        <div class='users'>

          <div class='profile_image'>
            <%= link_to (image_tag 'https://graph.facebook.com/'+user.uid+'/picture?type=normal&width=86&height=86'), user, :class => "img-thumbnail" %>
          </div>
          <div class='profile_name'>
            <div class="price">
              <span class="amount"><%=  %> осталось </span><br>
              

              <%= Order.where(:host_id => user.id).order("price ASC").first.price.round(2) if Order.where(:host_id => user.id).order("price ASC").first %> руб. ()
            </div>
            <%= user.name %> 
          </div>
        </div>