        <div class='users'>

          <div class='profile_image'>
            <%= link_to (image_tag 'https://graph.facebook.com/'+user.uid+'/picture?type=normal&width=100&height=100'), user %>
          </div>
          <div class='profile_name'>
            <div class="price">
              <span class="amount">осталось </span><br>
              

              <%= Stock.stockprice(user) %> руб. (<span class="green">+</span>)
            </div>
            <%= user.name %> 
          </div>
        </div>