<div class="row">
	<div class="col-md-6 dashboard-panel-6 color top-30">

		<h4>Купить акции пользователя <%= @user.name %></h4>

<div class="row">
	<form role="form">
		<div class="form-group">
			<div class="col-md-12">
				<input type="number" class="form-control" placeholder="Количество акций">
				<span class="help-block">Укажите количество акций, которые Вы хотите приобрести.</span>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-12">
				<input type="text" class="form-control" placeholder="Стоимость за акцию">
				<span class="help-block">Укажите предпочтительную стоимость покупки за одну акцию.</span>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-12">
				<input class="form-control" id="disabledInput" type="text" placeholder="Общая стоимость" disabled>
			</div>
		</div>
		<div class="col-md-12">
			<br>
			<button type="submit" class="btn btn-success">Подать заявку на покупку</button>
		</div>
	</form>
</div>


	</div>

	<div class="col-md-6 dashboard-panel-6 pull-right color top-30">
		<h4>Продать акции пользователя <%= @user.name %></h4>
		<div class="row">
			<form role="form">
				<div class="form-group">
					<div class="col-md-12">
						<input type="number" class="form-control" placeholder="Количество акций">
						<span class="help-block">Укажите количество акций, которые Вы хотите приобрести.</span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-12">
						<input type="text" class="form-control" placeholder="Стоимость за акцию">
						<span class="help-block">Укажите предпочтительную стоимость покупки за одну акцию.</span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-12">
						<input class="form-control" id="disabledInput" type="text" placeholder="Общая стоимость" disabled>
					</div>
				</div>
				<div class="col-md-12">
					<br>
					<button type="submit" class="btn btn-danger">Подать заявку на продажу</button>
				</div>
			</form>
		</div>
	</div>
</div>