		<div class="col-md-4">
			<%= render "/users/info" %>


			<div class="headline"><h3>О проекте</h3></div>
			<p>Отправьте своё сообщение. Наш менеджер свяжется с вами в самое ближайшее время.</p>

			<div class="headline"><h3>Купить акции</h3></div>

			<%= form_for User.new, :url => {:controller => 'users', :action => 'search'}, :html => { :class => "form-inline" } do |f| %>
			<div class="form-group">
				<%= f.text_field :uid, :class => "form-control", :placeholder => "@Ivanov" %>
			</div>
			<%= f.submit "Перейти", :class => "btn btn-success" %>
			<% end %>

			<div class="headline"><h3>Проверка</h3></div>
			<p>Отправьте своё сообщение.</p>
		</div>