		<div class="span4">
			<div class="headline"><h3>О проекте</h3></div>
			<p>Отправьте своё сообщение. Наш менеджер свяжется с вами в самое ближайшее время.</p>

			<div class="headline"><h3>Купить акции</h3></div>
			<input></input>
			<button>OK</button>
			<br>

			<div class="headline"><h3>Проверка</h3></div>
			<p>Отправьте своё сообщение.</p>
		</div>