
	                <div class="posts">
	                    <div class="headline"><h3><%= I18n.t(:footer_news) %></h3></div>
<%     @posts = Post.order("created_at DESC").limit(3) %>


<%= render :partial => '/shared/footerpost',  :as => :post, :collection => @posts %>

	                </div>
