<div class="row">
			<div class="col-md-6 dashboard-panel-6 top-30 color">
				<h4>Ордера на продажу</h4>
				<p>Всего <%= 100 %> <%= Russian.pluralize(100, "предложение", "предложения", "предложений") %>. Отображены 3 предложения с наименьшей ценой </p>
				<div class="row">
					<div class="col-md-4">
						Цена
					</div>
					<div class="col-md-4">
						Количество
					</div>
					<div class="col-md-4">
						Стоимость
					</div>
				</div>


					<div class="row">
						<div class="col-md-4">
						1
						</div>

						<div class="col-md-4">
						14
						</div>

						<div class="col-md-4">
						187 руб.
						</div>
					</div>
	
			</div>

			<div class="col-md-6 dashboard-panel-6 pull-right top-30 color">
				<h4>Ордера на покупку</h4>
				<p>Всего <%= 50 %> <%= Russian.pluralize(50, "предложение", "предложения", "предложений") %>. Отображены 3 предложения с наименьшей ценой </p>
				<div class="row">
					<div class="col-md-4">
						Цена
					</div>
					<div class="col-md-4">
						Количество
					</div>
					<div class="col-md-4">
						Стоимость
					</div>
				</div>


					<div class="row">
						<div class="col-md-4">
						1
						</div>

						<div class="col-md-4">
						12 шт.
						</div>

						<div class="col-md-4">
						21 руб.
						</div>
					</div>

			</div>
</div>