// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Main */
/*body */
body {
	background-color: #ddd;
	font-size: 13px;
	line-height: 1.6;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

			.green {
				color: #72C02C;
			}
			.red {
				color: #960018;
			}
			.grey {
				color: #777777;
			}
	.headline {
		display: block;
		margin: 10px 0 25px 0;
		border-bottom: 1px dotted #E4E9F0;

		h3, h4 {
			color: #585F69;
			margin: 0 0 -2px 0;
			padding-right: 10px;
			display: inline-block;
			text-shadow: 0 0 1px #F6F6F6;
			border-bottom: 2px solid #72C02C;

		}
	}

	a {
		color: #3c763d;
	}
	.dashboard-panel-6 {
	   width: 49%;
	}



	h1, h2, h3, h4, h5 {
		color: #555;
		margin-top: 5px;
		text-shadow: none;
		text-shadow: 0 0 1px #F6F6F6;
		font-weight: normal !important;
		font-family: 'Open Sans', sans-serif;
					&.color_green {
				color: #72C02C;
			}
	}

	.container::before, .container::after {
		display: table;
		line-height: 0;
		content: "";
	}
	.container::after {
		clear: both;
	}

.top-30 {
margin-top: 30px;
}
}

	.color {
		background-color: #ccc;
		border-radius: 10px;
		height: 350px;
	}

.users {
	background-color: #ccc;
	width: 100px;
	display: inline-block;

	margin: 0 20px 25px 0;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	height: 175px;
	top: 0;
	float: left;

	.profile_image {
		border: solid 3px #EEE;
		border-color: #72C02C !important;
	}

	.profile_name {
		text-align: center;
		font-weight: bold;
		
		.price {
			padding-top: 5px;
			font-size: 0.7em;
			.green {
				color: #72C02C;
			}
			.red {
				color: #960018;
			}
		}
	}
}
.btn-small {
	margin-left: 20px;
}

.right {
	text-align: right;
	padding-right: 20px;
}